<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= locals.description %>" />
    <meta name="author" content="Rahul Kumar" />
    <meta name="contact" content="rahulkumar109422@gmail.com" />

    <title><%= locals.title %></title>

    <link rel="stylesheet" href="/css/boilerplate.css" />
    <link rel="stylesheet" href="/css/pages/<%= css.filename %>" />
  </head>
  <body>
    <div class="container"><%- body %></div>
  </body>
</html>
