.main {
  padding-block: calc(var(--base-padding) * 3);

  & h1 {
    text-align: center;
    margin-block-end: calc(var(--base-margin) * 1.5);
    text-decoration: underline 0.125em solid currentColor;
    text-underline-offset: 3px;
  }
}

.table-section {
  display: flex;
  justify-content: center;
}

.table-container {
  block-size: 80vh;
  overflow: auto;
  inline-size: min(90vw, 840px);
}

.table {
  border-collapse: collapse;

  & thead {
    background-color: var(--table-header-bg);
  }

  & tbody tr {
    background-color: var(--table-bg);
  }
}
